/* environement */
main {
    max-width: 80rem;
    margin: 0 auto;
    background-color: #F4CAB1;
}

h1,
h2 {
    margin-left: 10px;
}

/* image */
.octo {
    display: block;
    margin: 0 auto;
}

/* placement display */
.inLine,
#taskList {
    display: flex;
    justify-content: space-between;
}

.input {
    display: flex;
}

/*prettier button */
input {
    margin: 10px;
}

/* prettier text */
.toBeDone {
    font-size: 1.7rem;
}

.done,
.added {
    margin-left: 10px;
}