@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/* environement */
body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

main {
    max-width: 80rem;
    margin: 0 auto;
    background-color: #F4CAB1;
}

h1,
h2 {
    margin-left: 10px;
}

input {
    border-radius: 6px;
}

.dashed {
    /*text-decoration: dashed rgb(156, 218, 240); */
    text-decoration: rgb(156, 218, 240) dashed underline;
}

/* image */
.octo {
    display: block;
    margin: 0 auto;
    width: 7rem;
}

/* placement display */
.inLine,
#taskList {
    display: flex;
    justify-content: space-between;
}

.input {
    display: flex;
}

/*prettier button */
input {
    margin: 10px;
}

/* prettier text */
.toBeDone {
    font-size: 1.7rem;
    text-decoration: solid underline overline rgb(156, 218, 240) 6px;
}

.done,
.added {
    margin-left: 10px;
}

#done {
    background-image: rgb(124, 186, 230);
    background-image: linear-gradient(to right, #ac5c51, #bb6a85, #b282b6, #979fd8, #7cbae6);
}