@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/* environement */
body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

main {
    max-width: 60rem;
    margin: 0 auto;
    background-color: #F4CAB1;
}

h1,
h2 {
    margin-left: 10px;
}

h1 {
    font-weight: 400;
    margin-top: 10px;
    padding-top: 15px;
}

.dashed {
    /*text-decoration: dashed rgb(156, 218, 240); */
    text-decoration: 2px rgb(156, 218, 240) dashed underline;
}

input {
    border-radius: 6px;
    margin: 10px;
    max-width: 12rem;
}

/* image */
.octo {
    display: block;
    margin: 0 auto;
    width: 6rem;
}

/* your tasks */
.yourTasks {
    margin-left: 5px;
    padding-bottom: 10px;
}

/* placement display */
.inLine,
#taskList {
    display: flex;
    justify-content: space-between;
}

.input {
    display: flex;
}

/* prettier text and button */
.toBeDone {
    font-size: 1.7rem;
    text-decoration: solid underline overline rgb(156, 218, 240) 4px;
}

.todone,
.added {
    margin-left: 10px;
}

.done {
    background-image: rgb(124, 186, 230);
    background-image: linear-gradient(to right, #ac5c51, #bb6a85, #b282b6, #979fd8, #7cbae6);
}

#add {
    background-color: #ac5c51;
    margin-left: 1px;
    border-color: rgb(124, 186, 230);
    box-shadow: 4px 3px 5px grey;
}

.delete {
    background-color: rgba(217, 31, 31, 0.847);
}

.undo {
    background-image: rgb(124, 186, 230);
    background-image: linear-gradient(to left, #ac5c51, #bb6a85, #b282b6, #979fd8, #7cbae6);

    border: 2px solid #ac5c51;
    color: white;
    font-weight: bold;
}

.buttons>button {
    max-width: 7rem;
    padding: 10px;
    border-radius: 6px;
    margin-right: 10px;
    margin-bottom: 10px;

}